<span class="panel-title"><%= OrderService.model_name.human%> - <%= @carrier.brand_name %></span>
<div>
  <%= link_to 'Voltar', root_path, :class => 'panel-action' %>
  <%= link_to "#{OrderService.model_name.human} Aceitas", accepted_orders_order_services_path, :class => 'panel-action' %>
</div>
<p>Clique no código do pedido para ver detalhes</p>
<% if @order_services.empty? %>
  <p>Não há <%= OrderService.model_name.human %> pendentes</p>
<% else %>
  <div>
    <%= @order_services.each do | order | %>
      <dl>
        <dt><%= link_to "#{I18n.t(:order)} #{order.code}", users_show_order_service_path(order) %></dt>
        <dt><%= OrderService.human_attribute_name(:source_adress)%>:</dt>
        <dd><%= order.source_adress %></dd>
        <dt><%= OrderService.human_attribute_name(:dest_adress)%>:</dt>
        <dd><%= order.dest_adress %></dd>
        <dt><%= OrderService.human_attribute_name(:volume)%>:</dt>
        <dd><%= order.volume %> m³</dd>
        <dt><%= OrderService.human_attribute_name(:weight)%>:</dt>
        <dd><%= order.weight %> kg</dd>
        <dt><%= OrderService.human_attribute_name(:accepted_status)%>:<dt>
        <dd><%= OrderService.human_attribute_name("accepted_status.#{order.accepted_status}") %></dd>
        <dt><%= OrderService.human_attribute_name(:order_status)%>:</dt>
        <dd><%= OrderService.human_attribute_name("order_status.#{order.order_status}") %></dd>
      </dl>
      <%= button_to 'Aceitar', new_accepted_order_service_path(order), method: :patch %>
      <%= button_to 'Recusar', refused_order_service_path(order) %>
    <% end %>
  </div>
<% end %>
