<h2>Consulta de Preços</h2>
<%= form_with(url: search_shipping_prices_path, method: :get) do | f | %>
  <%= f.label :item_dimension, 'Dimensão do item' %>
  <%= f.text_field :item_dimension %>
  <%= f.label :weight, 'Peso' %>
  <%= f.text_field :weight %>
  <%= f.label :distance, 'Distância total' %>
  <%= f.text_field :distance %>
  <%= f.submit 'Pesquisar Preços' %>
<% end %>
<% if @query_price.empty? %>
  <p>Não foram encontrados resultados pra essa pesquisa</p>
<% end %>
<% if @query_price.any?%>
  <dl>
    <% @query_price.each do | q |%>
      <dt>Transportadora: </dt>
      <dd><%= q.carrier.brand_name%></dd>
      <dt>Preço de frete: </dt>
      <dd>R$ <%= q.price_per_km * @distance.to_f %></dd>      
    <% end %>
  </dl> 
<% end %>
<% if @query_due.any? %>
  <p><%= DeliveryTime.model_name.human %></p>
  <dl>
    <% @query_due.each do | q |%>
      <dt>Transportadora: </dt>
      <dd><%= q.carrier.brand_name %></dd>
      <dt><%= I18n.t(:due_time) %>:</dt>
      <dd><%= q.working_days%> <%= I18n.t(:day, count: q.working_days)%> <%= I18n.t(:working_d, count: q.working_days)%></dd>
    <% end %>
  </dl>
<% end %>