<h1>Shipfy</h1>
<% if user_signed_in? %>
  <h2>Painel de Controle - <%= current_user.carrier.brand_name %></h2>
  <div>
    <%= link_to 'Ordens de Serviço', users_index_order_services_path %>
    <%= link_to 'Veículos', vehicles_path %>
    <%= link_to 'Preços', shipping_prices_path %>
    <%= link_to 'Prazos de Entrega', delivery_times_path %>
  </div>
<% elsif admin_signed_in? %>
  <h2>Painel de Administrador - Sistema de Frete</h2>
  <div>
    <%= link_to 'Transportadoras', carriers_path %>
    <%= link_to 'Consultar preços', search_shipping_prices_path %>
    <%= link_to 'Ordens de Serviço', order_services_path %>
  </div>  
<% end %>
