
<h2>Atualizações de Rota de <%= t(:order)%> <%= @order_service.code %>:</h2>
<div>
  <%= link_to 'Voltar', accepted_orders_order_services_path%>
  <%= link_to 'Adicionar nova Atualização de Rota', new_order_service_order_route_path(order_service_id: @order_service.id) %>
</div>
<% if @order_routes.empty? %>
  <p>Não há atualizações de rotas disponíveis</p>
<% end %>
<div>
  <dl>
    <% @order_routes.each do | route |%>
      <dt>Coordenada Geográfica: </dt>
      <dd><%= route.coordinates%></dd>
      <dt>Data e Hora:</dt>
      <dd><%= I18n.localize(route.date) %> - <%= I18n.localize(route.time, format: :short_2) %><dd>      
    <% end %>
  </dl>
 
</div>